s1 = ""
s2 = ""
s3 = ""
for $i in (1..200)
  s1 = s1 + join(' ', random-offset-x() random-offset-y() 0 random-spread() white)
  s2 = s2 + join(' ', random-offset-x() random-offset-y() 0 random-spread() white)
  s3 = s3 + join(' ', random-offset-x() random-offset-y() 0 random-spread() white)
  if $i < 200
    s1 = s1 + ", "
    s2 = s2 + ", "
    s3 = s3 + ", "
@keyframes fall
  100%
    transform: translateY(200vh)
@keyframes flicker
	0%, 19.999%, 23%, 62.999%, 64%, 64.999%, 70%, 100%
    opacity: 1
	20%, 22.999%, 63%, 63.999%, 65%, 69.999%
		opacity: 0.4

.neon
    font-family: cursive
    color: #ffd5ff
    animation: flicker 3s linear
    text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA
.front
    width: 100vw
    height: 100vh
    background: radial-gradient(farthest-corner at 30vw 20vh, #7397a1 1%,#3f2c41 100%)
    .snow
        border-radius: 50%
        opacity: .8
        position: absolute
        top: -100vh
        animation-name: fall
        animation-timing-function: linear
        animation-iteration-count: infinite
    .layer1
        width: 1.5rem
        height: 1.5rem
        filter:blur(1.5px)
        box-shadow: unquote(s1)
        animation-duration: 60s
    .layer1.a
        animation-delay: -30s
    .layer2
        width: 1.2rem
        height: 1.2rem
        filter:blur(3px)
        box-shadow: unquote(s2)
        animation-duration: 30s
    .layer2.a
        animation-delay: -15s
    .layer3
        width: .8rem
        height: .8rem
        filter:blur(6px)
        box-shadow: unquote(s3)
        animation-duration: 40s
    .layer3.a
        animation-delay: -20s
    .content
        flex-flow: column wrap
        align-items: center
        justify-content: center
        +min(2)
            margin-top: -20px
        h2
            font-size: 4.3rem
            font-weight: 600
            margin: 0
            padding: 0
            letter-spacing: -3px
            align-items: flex-start
            +min(1)
                font-size: 7.4rem
                letter-spacing: -5px
            +min(2)
                font-size: 9rem
                margin: 0 0 0.9vw
                letter-spacing: -7px
            +min(3)
                font-size: 10rem
        div
            display: flex
            flex-wrap: wrap
            align-items: center
            justify-content: center
            p
                font-family: cursive
                font-weight: bold
                width: 100%
                font-size: 1.2rem
                text-align: center
                margin: rem(15px) 0 rem(30px)
                color: scheme.heading
                line-height: 1.2
                +min(1)
                    font-size: 2rem
                    margin: 0 0 rem(80px)
                +min(2)
                    font-size: 2.6rem
                +min(3)
                    font-size: 2.8rem
            div
                display: flex
                flex-flow: row wrap
                justify-content: center
                width: 100%
                +min(1)
                    width: auto
                a
                    button(large, color: mediumseagreen)
                    margin: rem(8px) 0
                    min-width: 60%
                    +min(1)
                        min-width: auto
                        font-size: 1.2rem
                        margin: 0
                        padding: rem(16px) rem(35px)
                        &:first-of-type
                            margin-right: rem(14px)
                    +min(2)
                        font-size: 1.25rem
                        padding: rem(17px) rem(36px)
                    +min(3)
                        font-size: 1.32rem
                        padding: rem(18px) rem(38px)
