fontsize = 60px

.section-1
    input::-webkit-input-placeholder
      color: __neon !important
    input:-moz-placeholder
      color: __neon !important
    input::-moz-placeholder  /* Firefox 19+ */
      color: __neon !important
    input:-ms-input-placeholder
      color: __neon !important

    .big-lock
        width: 300px
        height: 400px
