@keyframes mover
  0%
    transform: translateY(0)
  100%
    transform: translateY(40px)

nav-1(scheme = __default)
    .nav-1
        width: 100%
        margin: 1rem 0
        button
            animation: mover 1s infinite alternate 3s
            display: block
            margin: 0 auto
            background: none
            &:hover
                cursor: pointer
                svg
                    width: 80px
                    height: 80px
                    fill: rgba(scheme.nav.vector, 1)
            svg
                transition: all .3s ease-in
                width: 60px
                height: 60px
                fill: rgba(scheme.nav.vector, 0.8)

        &[data-direction="prev"]
            transform: rotate(180deg)
            transform-origin: 50% 40%
        { block }
