/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  ICONS  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Declare all animation keyframes                                    ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

@require 'mover'
