extends ../root

block body

    body(id=bodyId class=bodyClass)

        block main

        //- end-of-body script insertion
        block inject

        //- compatibility
        noscript This application require JavaScript, please enable it.
