form-2(scheme = __default)
    .flip-container(ontouchstart="this.classList.toggle('hover');")
        perspective: 1000px

	  .flip-container.unlocked .flipper
        transform: rotateY(180deg)

    .flip-container, .flip-front, .flip-back
        width: 300px
        height: 400px

    .flipper
        transform: rotateY(0deg)
        transition: 0.6s
        transform-style: preserve-3d
        position: relative

    .flip-front, .flip-back
        backface-visibility: hidden
        position: absolute
        top: 0
        left: 0

    .flip-front
        z-index: 2
        transform: rotateY(0deg)

    .flip-back
        transform: rotateY(180deg)

    .form-2

        width: 600px
        display: flex
        flex-flow: row wrap
        justify-content: center
        align-content: flex-start

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button
            -webkit-appearance: none
            margin: 0

        input.pin
            caret-color: __neon
            background-color: rgba(0, 0, 0, 0.2)
            border-radius: 8px
            border: 0
            outline: 0
            color: __neon
            font-size: 3rem
            font-weight: bold
            width: 5rem
            height: 6rem
            text-align: center

            & + input.pin
              margin-left: 8px

        fieldset
            width: 100%
            margin-bottom: rem(20px)
            legend
                font-size: 1.3rem
                font-weight: 600
                padding: rem(10px) 0
                color: scheme.default

        .pinpad
            width: 360px
            margin: 15px auto 60px auto

        { block }
