section(class="canvas front" id="front")
    div(class="snow layer1 a")
    div(class="snow layer1")
    div(class="snow layer2 a")
    div(class="snow layer2")
    div(class="snow layer3 a")
    div(class="snow layer3")
    div(class="content")

        h2.neon Je bent er.

        div

            p Welkom. Kom binnen!

            div

    +nav-1("section-1")
