section(class="canvas section-1" id="section-1")

    h2 Section 1

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Vul de code in om door te gaan.
                
                input(maxlength="2" placeholder="•" value="" type="number" class="pin")
                input(maxlength="2" placeholder="•" value="" type="number" class="pin")
                input(maxlength="2" placeholder="•" value="" type="number" class="pin")
                input(maxlength="1" placeholder="•" value="" type="number" class="pin")

                p.
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis,
                    praesentium voluptatum deleniti atque corrupti quos dolores et quas.

    +nav-1("section-2")
